body{
    font-family: 'Roboto', sans-serif;
    background: #e5e5e5;
    width: 100vw;
}

*{
    box-sizing: border-box;
}

.top-box{
    height: 92px;
    width: 100vw;
    background-color: #CF2B2B;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 15px;
}

.nome-restaurante {
    font-family: 'Righteous';
    font-size: 44px;
    color: #ffffff;
}

.slogan {
    color: #ffffff;
    size: 18px;
}

.conteudo-pagina{
    margin: 120px 0 120px 0;
    background-color: #e5e5e5;
    position: relative;
}

.bloco-prato{
    height: auto;
    margin-bottom: 27px;
    width: auto;
    overflow-x: scroll;
}

.comando-bloco{
    font-family: 'Righteous';
    font-size: 26px;
    color: #333333;
    margin-left: 20px;
}

.container-opcoes{
    display: flex;
    width: auto;
    height: auto;
    overflow-x: scroll;
}

.opcao {
    background: #ffffff;
    border-radius: 9px;
    height: 216px;
    width: 172px;
    margin: 17px 0px 0px 17px;
    padding: 18px 14px 13px 14px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 0px;
    position: relative;
    box-sizing: border-box;
}

.certinho {
    display: none;
    font-size: 16px;
    color: #32b72f;
    position: absolute;
    right: 14px;
    bottom: 13px;
}

.opcao img{
    height: 87px;
    width: 144px;
    border-radius: 4px;
    margin-bottom: 8px;
    align-self: center;
}

.nome-opcao{
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 4px;
}

.descricao{
    font-size: 15px;
    color: #A6a6a6;
    margin-bottom: 9px;
}

.preco{
    font-size: 16px;
}

.bottom-box{
    background: #ffffff;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
}

.botao-final{
    font-size: 20px;
    color: #ffffff;
    background-color: #cbcbcb;
    height: 61px;
    width: 364px;
    border-radius: 50px;
    border: 0px;
    padding: 0px 70px;
    text-align: center;
}

.nao-selecionado{
    display: initial;
}

.selecionado{
    display: none;
}

